@use '@angular/material' as mat;
@use './styles/design-system';

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Inter',
      plain-family: 'Inter',
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
    ),
    density: 0,
  ));
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--ds-color-background);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
