<button
  class="avatar-trigger"
  type="button"
  mat-button
  [matMenuTriggerFor]="userMenu"
  aria-label="Open user menu"
>
  <span class="avatar-circle">{{ initials() }}</span>
</button>

<mat-menu #userMenu="matMenu" class="user-menu-panel" xPosition="before">
  <div class="menu-header">
    <span class="menu-name">{{ currentUser()?.fullName }}</span>
    <span class="menu-email">{{ currentUser()?.email }}</span>
  </div>

  <mat-divider />

  @if (isAdmin()) {
    <a mat-menu-item routerLink="/assignments">
      <mat-icon>group_work</mat-icon>
      <span>Assignments</span>
    </a>
    <a mat-menu-item routerLink="/deadline-extensions">
      <mat-icon>event_available</mat-icon>
      <span>Deadline Extensions</span>
    </a>
  }

  <button mat-menu-item type="button" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>
